# Dependencies
node_modules/
npm-debug.log*
yarn-error.log
.pnp
.pnp.js

# Build
dist/
build/

# Environment
.env
.env.local
.env.production

# Prisma
prisma/migrations/dev.db*

# Uploads
src/uploads/

# Logs & OS
logs/
*.log
.DS_Store
Thumbs.db

# Misc
coverage/
.nyc_output/